:root {
  --logo-color: #e41f25;
  --black: #333333;
  --gray: #e9ecef;
  --dark-gray: #76787d;
  --light-gray: #fdfdfd;
  --border-radius: 10px;
  --gray: #e0e0e0;
  --white: #fff;
  --box-shadow: 0 0 10px #0000001a;
  --regular-font-size: 16px;
  --small-font-size: 14px;
  --header-height: 111px;
  --container-padding: 30px;
  --search-page-min-height: 250px;
  --sidebar-width: 280px;
  --transition: 0.5s ease;
}
