:root {
	--black: #333333;
	--gray: #E9ECEF;
	--dark-gray: #76787D;
	--light-gray: #FDFDFD;
	--border-radius: 10px;
	--gray: #E0E0E0;
	--white: #fff;
	--box-shadow: 0 0 10px #0000001a;
	--regular-font-size: 16px;
	--small-font-size: 14px;
	--header-height: 111px;
	--container-padding: 30px;
	--search-page-min-height: 250px;
	--sidebar-width: 280px;
	--transition: .5s ease;
}